ul,
li,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-bar {
    display: flex;
    gap: 4px;
    align-items: center;
    z-index: 2;
    padding: 16px;
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.header-bar img {
    max-width: 250px;
}

.list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-family: intro;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    gap: 15px;
    list-style: none;
}

.list a {
    text-decoration: none;
    color: black;
}

.list a:hover {
    color: green;
    text-decoration: none;
    transition: 0.5;
}

.search {
    display: flex;
    align-items: center;
}

.search i {
    margin-right: 5px;
}

.search li {
    list-style-type: none;
    margin: 0 10px;
    cursor: pointer;
    color: black;
}

.search a {
    text-decoration: none;
}

.navbar-search {
    position: relative;
}

.navbar-search input[type="text"] {
    padding: 8px 30px 8px 10px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #2B292C;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
}

.navbar-search input[type="text"]::placeholder {
    color: #2B292C;
    opacity: 0.7;
}

.navbar-search button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

.navbar-search button:hover {
    color: #EE4D2D;
}



.heading {
    margin-left: 670px;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: intro;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    gap: 15px;
    list-style: none;
}

/* Contanier */
.item {
    width: 200px;
    text-align: center;
    font-family: intro;
    font-weight: 500;
    position: relative;
}


.item p {
    margin: 6px 0px;
    font-weight: bold;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
    font-family: intro;
}

.new-collections h1 {
    padding-top: 40px;
    color: #171717;
    font-size: 60px;
    font-weight: 700;

}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}
.item img{
    max-width:  100%  ;
}
/* Footer */
.footer {
    margin-top: 20px;
    background-color: #2B292C;
    color: white;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    font-family: intro;
    font-weight: 600;
}

.footer h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer_Left,
.footer_Right {
    width: 45%;
}

.footer_Left hr,
.footer_Right hr {
    border: 1px solid #869791;
    margin-bottom: 20px;
}

.footer_content {
    display: flex;
}

.footer_link,
.footer_support {
    flex: 1;
}

.footer_link ul,
.footer_support ul {
    list-style: none;
}

.footer_link ul li,
.footer_support ul li {
    margin-bottom: 10px;
}

.footer_link ul li a,
.footer_support ul li a {
    color: white;
    text-decoration: none;
}

.footer_link ul li a:hover,
.footer_support ul li a:hover {
    color: green;
}

.footer_support ul li:last-child {
    margin-right: 0;
}

hr {
    border-top: dotted 1px #C8C8C8;
}

.footer_link_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_icon {
    font-size: 50px;
    /* color: white; */
}


.Teas-inner {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 150px;
    z-index: 9999 !important;
    background-color: #2B292C;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-inner {
    padding-right: 15px;
}

.Teas-inner.show {
    display: flex;
}

.Teas-inner .fa-caret-up {
    position: absolute;
    text-align: center;
    color: #2B292C;
    font-size: 25px;
    cursor: pointer;
    top: -14px;
    right: 51%;
}

.produce-inner {
    list-style: none;

}

.produce-inner a {
    text-decoration: none;
    color: white;
    font-family: intros;
}


.load-more-button button {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 200px; /* Set the height to match the item's height */
    width: 200px; /* Make the button fill the entire width of its container */
    padding: 0; /* Remove any default padding */
    background: #f0f0f0; /* Remove background */
    border: 1px solid #fff; /* Remove border */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: opacity 0.3s, background-color 0.3s; /* Add transition effect for opacity and background color */
    position: relative; /* Position the icon relative to the button */
}

.load-more-button button:hover {
    opacity: 0.7; /* Reduce opacity on hover */
    background-color: #f0f0f0; /* Change background color on hover */
    transform: scale(1.05);
    transition: 0.6s;
}

.load-more-button button i {
    font-size: 90px; /* Set the font size of the icon */
    margin-right: 5px; /* Add some right margin to separate the icon from the button text */
    position: absolute; /* Position the icon absolutely */
    top: 50%; /* Align the icon vertically */
    left: 50%; /* Align the icon horizontally */
    transform: translate(-50%, -50%); /* Center the icon */
    transition: color 0.3s; /* Add transition effect for color */
    color: #ccc;
}

.load-more-button button:hover i {
    color: #000; /* Change color of the icon on hover */
}


.add {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 10px;
    background-color: #28a745; /* Màu nền xanh lá cây */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.pagination {
    display: flex;
    justify-content: center;

}

.pagination a,
.pagination span {
    padding: 8px 12px;
    margin-right: 5px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* Màu nền mặc định */
}

.pagination a:hover {
    background-color: #f2f2f2; /* Màu nền khi hover */
}

.pagination span.current {
    background-color: #007bff; /* Màu nền cho trang hiện tại */
    color: #fff;
    border: 1px solid #007bff;
}

table {
    width: 100%; /* Set the table width to 100% of its container */
    border-collapse: collapse; /* Collapse borders between table cells */
}

th, td {
    padding: 8px; /* Padding for table cells */
    border: 1px solid #ddd; /* Border style for table cells */
    text-align: left; /* Align text to the left within cells */
}

th {
    background-color: #f2f2f2; /* Background color for table header cells */
    color: #333; /* Text color for table header cells */
}


.icon-trash {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px; /* Adjust as needed */
}

.icon-trash a {
    text-decoration: none;
    
}

.icon-trash i {
    color: #000;
}

